* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

html {
  scroll-behavior: smooth;
  background: #00FF00;
}

body {
  font-family: 'Courier New', monospace;
  line-height: 1.6;
  color: #000000;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  text-shadow: 3px 3px #FF00FF;
  letter-spacing: 2px;
} 